$header-height: 34px;
$toolbar-height: 34px;

$bgc: #eee;
$border: #a7a7a7;

// input
$input-color: rgb(175, 175, 175);
$input-border: $border;
$input-border-focus: #045ed4;

// button
$button-color: rgba(0,0,0, .7);
$button-active: green;

// table
$info-cell-width: 40px;