@import 'variables';
@import 'mixins';

.excel__toolbar {
  position: absolute;
  display: flex;
  top: $header-height;
  left: 0;
  right: 0;
  height: $toolbar-height;
  padding: 4px 4px;
  border-bottom: 1px solid $border;
  border-top: 1px solid $border;

  .button {
    @include button(green);
  }
}